.promotion {
  background: linear-gradient(135deg, #3D4251 0%, #272B35 100%);
  padding: 100px 0 57px;

  @include media-breakpoint-down(lg) {
    padding: 60px 0 44px;
  }

  @include media-breakpoint-down(md) {

    .container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  h2 {
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.5px;
    margin-bottom: 40px;
    color: $white;

    @include media-breakpoint-down(lg) {
      font-size: 32px;
      line-height: 44px;
      padding: 0 30px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    align-items: center;

    @include media-breakpoint-down(lg) {
      grid-template-columns: minmax(310px, 1fr);
      row-gap: 20px;
      justify-content: center;
    }

    .promotion-card {

      @include media-breakpoint-down(lg) {
        margin: 0 auto;
        max-width: 340px;
        width: 100%;
      }

      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }

      &:nth-child(2n) {
        padding: 59px 40px 59px;
        border-radius: 4px;
      }
    }
  }

  &-card {
    background: $white;
    padding: 48px 40px 40px;
    text-align: center;
    border-radius: 6px;
    max-width: 380px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border: 4px solid transparent;
    transition: 300ms ease-in;

    &--active {
      border-color:  $apple;

      @include media-breakpoint-down(md) {
        border-color: $pizazz;

        .btn {
          background: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%);;
        }
      }
    }

    &__period {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      margin-bottom: 18px;
      position: relative;
      padding-bottom: 14px;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 24px;
        height: 2px;
        background: $apple;
      }
    }

    &__price {
      font-weight: 300;
      font-size: 24px;
      padding-bottom: 18px;
      border-bottom: 1px solid $porcelain;
      margin-bottom: 27px;
      display: flex;
      justify-content: center;

      &__cur {
        margin-top: 7px;
        margin-right: 5px;
      }

      &__number {
        font-weight: 300;
        font-size: 56px;
        letter-spacing: -1.5px;
        padding-bottom: 5px;
      }

      &__per {
        margin-top: 35px;
        margin-left: 5px;
      }
    }

    &__info {
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 25px;
      min-height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &__sale {
        color: $carnation;
        text-decoration: line-through;
        margin-right: 8px;
      }

      &__save {
        font-weight: 700;
        font-size: 14px;
        display: block;
        margin-top: 10px;
      }
    }

    &__btn {

      .btn {
        min-width: 205px;
      }
    }
  }

  &__brands {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    h4 {
      color: $white;
      margin-right: 30px;
    }

    &__images {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 25px;

      @include media-breakpoint-down(lg) {
        justify-content: center;
      }
    }
  }

  &__links {
    text-align: center;
    margin-top: 10px;

    @include media-breakpoint-down(lg) {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include media-breakpoint-up(lg) {

      &__item + .promotion__links__item {
        margin-left: 44px;
      }
    }

    &__item {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      color: $apple;
      display: inline-flex;
      align-items: center;

      &:hover {
        color: $pastel-green;
      }

      @include media-breakpoint-down(lg) {
        margin-top: 40px;
      }

      .icon {
        margin-left: 15px;
      }
    }
  }
}