<div class="page-content">
  <div class="page-title">
    <h1>What We Do</h1>
    <p>We launch different types of platforms and operating systems using distinguishes of every platform or operating
      system as adventage and a powerful tool.</p>
    <span class="triangle"></span>
  </div>

  <section class="services container">
    <div class="services__item">
      <div class="services__item-img"><img src="../pictures/service-1.jpg" srcset="../pictures/service-1@2x.jpg"
                                           width="464" height="336" alt=""></div>
      <h3>Mobile Apps</h3>
      <p>We are a nimble team of designers, developers, and strategists who are passionate about helping our clients
        achieve their goals and grow their brands.</p>
      <a href="#" class="link-border">Learn More</a>
    </div>
    <div class="services__item">
      <div class="services__item-img"><img src="../pictures/service-2.jpg" srcset="../pictures/service-2@2x.jpg"
                                           width="430" height="289" alt=""></div>
      <h3>Web Services</h3>
      <p>We are a nimble team of designers, developers, and strategists who are passionate about helping our clients
        achieve their goals and grow their brands.</p>
      <a href="#" class="link-border">Learn More</a>
    </div>
    <div class="services__item">
      <div class="services__item-img"><img src="../pictures/service-3.jpg" srcset="../pictures/service-3@2x.jpg"
                                           width="477" height="401" alt=""></div>
      <h3>Augmented Reality</h3>
      <p>We are a nimble team of designers, developers, and strategists who are passionate about helping our clients
        achieve their goals and grow their brands.</p>
      <a href="#" class="link-border">Learn More</a>
    </div>
    <div class="services__item">
      <div class="services__item-img"><img src="../pictures/service-4.jpg" srcset="../pictures/service-4@2x.jpg"
                                           width="516" height="366" alt=""></div>
      <h3>UX/UI Design</h3>
      <p>We are a nimble team of designers, developers, and strategists who are passionate about helping our clients
        achieve their goals and grow their brands.</p>
      <a href="#" class="link-border">Learn More</a>
    </div>
    <div class="services__item">
      <div class="services__item-img"><img src="../pictures/service-5.jpg" srcset="../pictures/service-5@2x.jpg"
                                           width="430" height="289" alt=""></div>
      <h3>Development</h3>
      <p>We are a nimble team of designers, developers, and strategists who are passionate about helping our clients
        achieve their goals and grow their brands.</p>
      <a href="#" class="link-border">Learn More</a>
    </div>
  </section>

  <section class="title-text container">
    <h2>We enjoy what we do.</h2>
    <p>Working with smart people at great projects.<br>
      Contact us if you want to work with us.</p>
    <a href="#" class="link-bg">Contact Us</a>
  </section>
</div>


