<footer class="page-footer">
  <div class="page-footer-top container">
    <div class="page-footer-blocks">
      <div class="page-footer-blocks__item page-footer__contacts">
        <div class="mb-2">Headquarters:</div>
        11 E. Chavdar Street, Office 222, Kiev, Ukraine 04335
      </div>
      <div class="page-footer-blocks__group">
        <div class="page-footer-blocks__item">
          <div class="mb-2">USA:</div>
          <a href="mailto:usa.hr@trinetix.com">usa.hr@trinetix.com</a><br>
          +1 212-336-1440
        </div>
        <div class="page-footer-blocks__item">
          <div class="mb-2">Ukraine:</div>
          <a href="mailto:ua.hr@trinetix.com">ua.hr@trinetix.com</a><br>
          +38 044-334-2341
        </div>
      </div>
    </div>
  </div>
  <div class="page-footer-bottom">
    <div class="container page-footer-blocks">
      <div class="page-footer-blocks__item page-footer__copyright">© 2010-2015 Trinetix LLC</div>
      <div class="page-footer-blocks__group">
        <ul class="page-footer-blocks__item page-footer__menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Case studies</a></li>
          <li><a href="#" class="active">Services</a></li>
          <li><a href="#">Expertise</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <nav class="page-footer-blocks__item socials">
          <a href="#" class="fb">&nbsp;</a>
          <a href="#" class="in">&nbsp;</a>
          <a href="#" class="g-plus">&nbsp;</a>
          <a href="#" class="twitter">&nbsp;</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
