<header class="page-header">
  <div class="page-header-top">
    <div class="container d-flex justify-content-between">
      <a class="page-header__logo" href="/"><img src="../images/logo.png" srcset="../images/logo@2x.png" width="124"
                                                 height="29" alt=""></a>
      <ul class="page-header__menu-top">
        <li><a href="#">Case studies</a></li>
        <li><a href="#" class="active">Services</a></li>
        <li><a href="#">Expertise</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <div class="menu-toggle">
        <button type="button" class="menu-toggle__btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
  <div class="page-header-content container">
    <p>We work with forward businesses to create new digital platform, products and services.</p>
  </div>
  <div class="page-header-bottom">
    <ul class="page-header__menu-bottom container">
      <li><a href="#" class="active">All</a></li>
      <li><a href="#">Mobile Apps</a></li>
      <li><a href="#">Web Services</a></li>
      <li><a href="#">Augmented Reality</a></li>
      <li><a href="#">UX/UI Design</a></li>
      <li><a href="#">Development</a></li>
    </ul>
  </div>
</header>
