doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Glivera
        link(rel="stylesheet", href="css/core.min.css")
    body
        .wrapper
            //  Notification
            .notification
                .container
                    ul.notification__list
                        li.notification__list__item.notification__list__item--color
                            .notification__icon
                                i.icon.icon--attention
                                | You are not protected
                        li.notification__list__item Your IP Address: 107.3.176.194
                        li.notification__list__item Your ISP: Comcast Cable
                        li.notification__list__item
                            a(href="#") Learn More ›
                    a(href="#").close
                        i.icon.icon--close
            //  End Notification

            .container
                // Header
                header.header.container
                    a(href="/").logo
                            | Company Name
                    ul.top-menu
                        li.top-menu__item.top-menu__item--has-submenu
                            a(href="#") Why Us
                        li.top-menu__item
                            a(href="#") VPN Apps
                        li.top-menu__item.top-menu__item--has-submenu
                            a(href="#") Support
                        li.top-menu__item.top-menu__item--has-submenu
                            a(href="#") Resources
                    .header-btns
                        button(type="button").btn Log In
                        button(type="button").btn.btn--bg.btn--lg Get Started
                // End Header

                main.blog.inner-container
                    // Main Post
                    .blog-post.blog-post--main
                        .blog-post__images
                            .blog-post__image.image-mobile(style="background-image: url('../pictures/post-main.png')")
                            .blog-post__image.image-tablet(style="background-image: url('../pictures/post-main@2x.png')")
                            .blog-post__image(style="background-image: url('../pictures/post-main@3x.png')")

                        .blog-post__article
                            .blog-post__title TV Addons: Legal battle against Canadian media giants demonstrates severe consequences facing developers accused of copyright infringement
                            .blog-post__info
                                |
                                |
                                span.info-author Danica Sergison
                                |
                                |
                                span.info-date | JUL 08, 2018
                                nav.info-tags
                                  - const arr = ['Copyright', 'News', 'Open Source', 'Privacy']

                                      each val, index in arr
                                        a(href="#")= val
                                        if index !== arr.length - 1
                                          | ,
                                .info-comments
                                    i.icon.icon--comment
                                    | 0
                    // End Main Post

                    // Tags Filter
                    .blog-filter
                        .blog-filter__tags
                            .tags-title Tags:
                            nav.tags-nav
                              each val in ['bitcoin', 'bittorrent', 'irc', 'news', 'privacy', 'programming', 'security']
                                  a(href="#")= val
                        .blog-filter__links
                            a(href="#") Team
                            a(href="#") Contact
                    // End Tags Filter

                    //  Blog Posts
                    .two-columns.blog-posts

                        // ---------------- Left Column
                        .two-columns__left
                            h2 Recent posts

                            include mixins/post
                            +post('post-1',  'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises', 'Derek Zimmer', 'JUL 25, 2018', ['Governments', 'Networking', 'Open Source', 'Privacy', 'Security'])
                            +post('post-2',  'How to get cheaper flights using a VPN', 'Jayson', 'JUL 24, 2018', ['Guides'])
                            +post('post-3',  'Net Neutrality was repealed, but the fight is far from over', 'Chris Miller', 'JUL 22, 2018', ['Governments', 'Net Neutrality', 'News'])
                            +post('post-1',  'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises', 'Derek Zimmer', 'JUL 25, 2018', ['Governments', 'Networking', 'Open Source', 'Privacy', 'Security'])
                            +post('post-2',  'How to get cheaper flights using a VPN', 'Jayson', 'JUL 24, 2018', ['Guides'])
                            +post('post-3',  'Net Neutrality was repealed, but the fight is far from over', 'Chris Miller', 'JUL 22, 2018', ['Governments', 'Net Neutrality', 'News'])

                            .blog-post__btn
                                button(type="button").btn.btn--xl Older Posts
                        // ---------------- Right Column
                        .two-columns__right
                            form.search
                                label(for="blog_search")
                                input(type="search" placeholder="Search blog" name="q" id="blog_search")
                                button(type="button").btn.btn--no-styles
                                    i.icon.icon--search

                            .sidebar-item
                                h3.sidebar-item__title
                                    i.icon.icon--belt
                                    | Announcements
                                ul.list
                                    li
                                        a(href="#") Upcoming Changes (Live Chat, Less Censorship, More Access)
                                    li
                                        a(href="#") New Servers (US Washington DC)
                                    li
                                        a(href="#") New Servers (US Denver)
                                    li
                                        a(href="#") Open Source: Releasing the PIA iOS Client
                                    li
                                        a(href="#") Opera Extension is now available

                            .sidebar-item
                                h3.sidebar-item__title
                                    i.icon.icon--recent
                                    | Popular posts
                                ul.list
                                    li
                                        a(href="#") The Gift of Privacy
                                    li
                                        a(href="#") UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture
                                    li
                                        a(href="#") About the PIA Client Security and VPN Security in General
                                    li
                                        a(href="#") A Private Net Is Just As Fundamental A Right As Freedom Of Speech
                                    li
                                        a(href="#") Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie

                            .sidebar-item.sidebar-item--no-border
                                img(src="../pictures/banner.png" alt="Sidebar banner")

                            .sidebar-item.sidebar-item--no-border.mt-5
                                h3.sidebar-item__title.mb-2 Tag Cloud
                                img(src="../pictures/tags.png" alt="Sidebar tags")

                    //  End Blog Posts

                    //  Sign Up Promotion
            section.promotion
                .container.inner-container
                    h2 Sign up today – 7 day money back guarantee
                    ul.promotion__list
                        li.promotion-card
                            .promotion-card__period Monthly
                            .promotion-card__price
                                span.promotion-card__price__cur $
                                span.promotion-card__price__number 6.95
                                span.promotion-card__price__per /mo.
                            .promotion-card__info
                                span.promotion-card__info__text Includes all VPN features.
                            .promotion-card__btn
                                button(type="button").btn Sign Up

                        li.promotion-card
                            .promotion-card__period Two years
                            .promotion-card__price
                                div
                                    span.promotion-card__price__cur $
                                    span.promotion-card__price__number 2.91
                                span.promotion-card__price__per /mo.
                            .promotion-card__info
                                div
                                    span.promotion-card__info__sale $166.80
                                    span.promotion-card__info__text $69.95 per two years
                                span.promotion-card__info__save Save 58%*
                            .promotion-card__btn
                                button(type="button").btn Sign Up

                        li.promotion-card
                            .promotion-card__period Yearly
                            .promotion-card__price
                                span.promotion-card__price__cur $
                                span.promotion-card__price__number 3.33
                                span.promotion-card__price__per /mo.
                            .promotion-card__info
                                div
                                    span.promotion-card__info__sale $166.80
                                    span.promotion-card__info__text $39.95 per year
                                span.promotion-card__info__save Save 52%*
                            .promotion-card__btn
                                button(type="button").btn Sign Up



                    .promotion__brands
                        h4 Ways to pay:
                        .promotion__brands__images
                            img(src="../images/brands/Object-1.png", alt="Visa")
                            img(src="../images/brands/mc_vrt_pos.png", alt="Mastercard")
                            img(src="../images/brands/amex_logo.png", alt="Amex")
                            img(src="../images/brands/Object.png", alt="PayPal")
                            img(src="../images/brands/Bitcoin.png", alt="Bitcoin")
                            img(src="../images/brands/OK_Pay.png", alt="OK Pay")
                            img(src="../images/brands/Object-2.png", alt="Amazon")
                    .promotion__links
                        a(href="#")
                            | How to pay anonymously
                            i.icon.icon--arrow
                        a(href="#")
                            | REDEEM GIFT CARD
                            i.icon.icon--arrow

            //  End Sign Up Promotions

            footer.footer
                .container
                    a(href="/").logo
                        | Company Name
                    .footer__columns
                        .footer__columns-item
                            .footer__columns-item__info
                                h5.info-title Company
                                nav.info-nav
                                    a(href="#").info-nav__link About Us
                                    a(href="#").info-nav__link Our Team
                                    a(href="#").info-nav__link Careers
                                    a(href="#").info-nav__link Press
                                    a(href="#").info-nav__link In the Media
                                    a(href="#").info-nav__link VPN Reviews
                                    a(href="#").info-nav__link Companies We Support
                                    a(href="#").info-nav__link Contact Us
                                    a(href="#").info-nav__link Blog

                        .footer__columns-item
                            .footer__columns-item__info
                                h5.info-title Programs
                                nav.info-nav
                                    a(href="#").info-nav__link Whitehat Security
                                    a(href="#").info-nav__link Affiliates

                            .footer__columns-item__info
                                h5.info-title learn more
                                nav.info-nav
                                    a(href="#").info-nav__link VPN Encryption
                                    a(href="#").info-nav__link Android VPN App
                                    a(href="#").info-nav__link iOS VPN App
                                    a(href="#").info-nav__link PIA Sitemap
                                    a(href="#").info-nav__link Affiliates


                        .footer__columns-item
                            .footer__columns-item__info
                                h5.info-title Legal
                                nav.info-nav
                                    a(href="#").info-nav__link Terms Of Service
                                    a(href="#").info-nav__link Privacy Policy
                                    a(href="#").info-nav__link DMCA Policy
                                    a(href="#").info-nav__link Export Control Policy

                        .footer__columns-item
                            .footer__columns-item__info
                                h5.info-title About
                                article.info-article
                                    p.mb-2 Private Internet Access is the leading VPN Service provider specializing in secure, encrypted VPN tunnels which create several layers of privacy and security providing you safety on the internet. Our service is backed by multiple gateways worldwide with access in 28+ countries, 44+ regions.
                                    .footer__copyright
                                        p.mb-2 Map data provided by Google.
                                        p PC Mag Editor’s Choice award image reprinted with permission. © 2012 Ziff Davis, Inc. All Rights Reserved.
                                        p PC Mag quote reprinted from www.pcmag.com with permission. © 2012 Ziff Davis, Inc. All Rights Reserved.
                                        p.mt-2 © London Trust Media, Inc. All Rights Reserved.

                            .footer__columns-item__info
                                h5.info-title Social
                                nav.social-nav
                                    a(href="#").social-nav__link
                                        i.icon.icon--fb
                                    a(href="#").social-nav__link
                                        i.icon.icon--twitter
                                    a(href="#").social-nav__link
                                        i.icon.icon--google
                                    a(href="#").social-nav__link
                                        i.icon.icon--in
                                    a(href="#").social-nav__link
                                        i.icon.icon--sl
                                    a(href="#").social-nav__link
                                        i.icon.icon--youtube
