//----- Icons

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &.icon--attention {
    background-image: url("../images/attention.svg");
    width: 22px;
    height: 19px;
  }

  &.icon--close {
    background-image: url("../images/close.svg");
    width: 14px;
    height: 14px;
  }

  &.icon--comment {
    background-image: url("../images/comment.svg");
    width: 11px;
    height: 11px;
  }

  &.icon--search {
    background-image: url("../images/search.svg");
    width: 20px;
    height: 20px;
  }

  &.icon--belt {
    background-image: url("../images/belt.svg");
    width: 40px;
    height: 40px;
  }

  &.icon--recent {
    background-image: url("../images/recent.svg");
    width: 40px;
    height: 40px;
  }

  &.icon--arrow {
    background-image: url("../images/arrow.svg");
    width: 15px;
    height: 10px;
  }

  &.icon--fb,
  &.icon--twitter,
  &.icon--google,
  &.icon--in,
  &.icon--sl,
  &.icon--youtube {
    background-image: url("../images/socials.svg");
    background-size: auto;
  }

  &.icon--fb {
    width: 14px;
    height: 28px;
    background-position: 0 0;
  }

  &.icon--twitter {
    width: 28px;
    height: 28px;
    background-position: -45px 0;
  }

  &.icon--google {
    width: 34px;
    height: 28px;
    background-position: -105px 0;
  }

  &.icon--in {
    width: 28px;
    height: 28px;
    background-position: -170px -0;
  }

  &.icon--sl {
    width: 30px;
    height: 30px;
    background-position: -230px 0;
  }

  &.icon--youtube {
    width: 42px;
    height: 29px;
    background-position: -290px 0;
  }
}

//----- Buttons

.btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: $apple;
  height: 40px;
  border-radius: 30px;
  border: 1px solid $apple;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  transition: 200ms ease-in-out;

  &--bg {
    background: linear-gradient(0deg, $apple 0%, $pastel-green 100%);
    color: $white;
    border: 0;
    transition: none;
  }

  &:hover {
    background-image: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
    color: $white;
  }

  &--no-styles {
    padding: 10px;
    border: 0;
    height: auto;

    &:hover {
      background: none;
    }
  }


  &--lg {
    min-width: 160px;
  }

  &--xl {
    min-width: 260px;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

//------- Inputs

input[type="text"],
input[type="search"] {
  border: 1px solid $iron;
  border-radius: 4px;
  padding: 21px 20px;
  font-weight: 300;
  font-size: 18px;
  height: 59px;

  &::placeholder {
    font-weight: 300;
    font-size: 18px;
    color: $tuna;
  }

  &:focus {
    outline: none;
  }
}

//----------List

ul {

  &.list {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    li {
      position: relative;
      padding-left: 8px;
      margin-bottom: 15px;

      &:before {
        content: '';
        position: absolute;
        width: 2.5px;
        height: 2.5px;
        border-radius: 50px;
        background: $apple;
        left: 0;
        top: 7px;
      }
    }
  }
}

.social-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;

  @include media-breakpoint-down(lg) {
    gap: 32px 24px;
  }

  & > a {
    display: inline-block;
  }
}