//----- Icons

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.socials {
  display: flex;

  & > a {
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
    background-image: url("../images/social-icons.svg");
    background-repeat: no-repeat;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &.fb {
      background-position: 0 0;
    }

    &.in {
      background-position: -46px 0;
    }

    &.g-plus {
      background-position: -92px 0;
    }

    &.twitter {
      background-position: -139px 0;
    }
  }
}

.link-border {
  min-width: 176px;
  height: 32px;
  border-radius: 16px;
  font-size: 16px;
  color: $azure-radiance;
  border: 1px solid $azure-radiance;
  text-align: center;
  line-height: 28px;
  white-space: nowrap;

  &:hover {
    background: $azure-radiance;
    color: $white;
  }
}

.link-bg {
  min-width: 280px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  color: $white;
  background: $azure-radiance;
  line-height: 50px;
  border-radius: 25px;
  display: inline-block;
  border: 1px solid $azure-radiance;

  &:hover {
    background: $white;
    color: $azure-radiance;
  }
}