//----- Icons

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &.icon--attention {
    background-image: url("../images/attention.svg");
    width: 22px;
    height: 19px;
  }

  &.icon--close {
    background-image: url("../images/close.svg");
    width: 14px;
    height: 14px;
  }

  &.icon--comment {
    background-image: url("../images/comment.svg");
    width: 11px;
    height: 11px;
  }

  &.icon--search {
    background-image: url("../images/search.svg");
    width: 20px;
    height: 20px;
  }
}

//----- Buttons

.btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: $apple;
  height: 40px;
  border-radius: 30px;
  border: 1px solid $apple;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  transition: 300ms ease-in-out;

  &:focus {
    outline: none;
  }

  &--bg {
    background: linear-gradient(0deg, $apple 0%, $pastel-green 100%);
    color: $white;
    border: 0;
    transition: none;
  }

  &:hover {
    background: $apple;
    color: $white;
  }

  &--lg {
    min-width: 160px;
  }

  &--xl {
    min-width: 260px;
  }
}