.footer {
  padding: 84px 0 90px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $regent-gray;

  @include media-breakpoint-down(md) {
    padding: 44px 0 50px;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .logo {
    font-size: 27px;
    margin-bottom: 58px;
    display: inline-block;

    @include media-breakpoint-down(md) {
      font-size: 18px;
    }

  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 3fr;
    align-items: baseline;

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2,1fr);
      row-gap: 35px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &--social {
        grid-column: 4;

        @include media-breakpoint-down(lg) {
          grid-column: auto;
        }
      }

      @include media-breakpoint-down(lg) {

        &--about {
          grid-column: 1/3;
          grid-row: 3;
        }
      }

      &__info {
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .info-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $tuna;
  }

  .info-nav {
    display: flex;
    flex-direction: column;

    &__link {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $regent-gray;

      & + .info-nav__link {
        margin-top: 10px;
      }
    }
  }

  .info-article {
    max-width: 599px;
  }

  &__copyright {
    font-size: 12px;
  }
}