.header {
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 18px;
    font-weight: 400;
  }

  &-btns {

    .btn + .btn {
      margin-left: 10px;
    }
  }

  .top-menu {
    display: flex;

    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    li + li {
      margin-left: 30px;
    }

    &__item {

      position: relative;
      padding-bottom: 6px;

      &:before {
        content: '';
        position: absolute;
        height: 0;
        background: $apple;
        width: 100%;
        left: 0;
        bottom: 0;
        transition: 300ms ease-in;
      }

      &:hover {

        &:before {
          height: 3px;
        }
      }

      & > a {
        display: inline-flex;
        align-items: center;
      }

      &--has-submenu {

        & > a {

          &:after {
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $tuna;
            margin-left: 8px;
            transition: 300ms ease-in;
          }
        }
      }
    }
  }
}
