// fonts

$f-primary: 'Open Sans', sans-serif;
$f-secondary: 'PT Serif', serif;

// colors

$black: #000000;
$white: #ffffff;
$midnight: #00172B;
$midnight-blue: #003562;
$azure-radiance: #00ABFF;
$chathams-blue: #105788;
$mercury: #E1E1E1;